@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,300;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primal-color: #147A80;
}
section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #fff;
}

.sub_bar_header{
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #fff;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;

    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms;
}


header ul li a:hover {
    color: rgb(165, 74, 74);
    text-decoration-color: rgb(165, 74, 74);
    text-underline-offset: 0.2em;
}

.header_button_contact_us{
    display: flex;
    margin-left: 40px;
    border-radius: 2rem;
}

.button_try_for_free{
    text-transform: uppercase;
    border-radius: 2rem;
    border: 1px solid #1699a0;
    padding: 0.5rem 1rem;
    background-color: #1699a0;
}

.button_try_for_free:hover {
    border: 1px solid var(--primal-color);
    background-color: var(--primal-color);
}



.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .text-box{
    position: relative;
    max-width: 600px;
}
.container .text-box h2{
    color: #333;
    font-size: 4em;
    font-weight: 500px;
}
.container .text-box h2 span{
    color: var(--primal-color);
    font-size: 1.2em;
    font-weight: 900;
}
.container .text-box p{
    color: #333;
}
.container .text-box a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #1699a0;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.container .text-box a:hover{
    background: var(--primal-color);
}
.container .img-box{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.container .img-box img{
    max-width: 340px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primal-color);
    clip-path: circle(600px at right 800px);
}






.menu_last_thing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    list-style-type: none;
    padding: 1rem;
}

.menu_last_thing p{
    padding: 1rem;
}

.menu_last_thing h3{
    padding: 1rem;
}


.form_main{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border: 1px solid #c2c2c2;
    border-radius: 1rem;
}


.app-form-control_1 {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: 1px solid #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid #c2c2c2;
    color: Black;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    padding: 2rem;
}
.app-form-control_2 {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: 1px solid #fff;
    border-bottom: 1px solid #c2c2c2;
    color: Black;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    padding: 2rem;
}
.app-form-control_3 {
    width: 100%;
    padding: 10px 0;
    background: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #fff;
    color: Black;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    padding: 2rem;
}

.app-form-control_1:focus{
    border: 1px solid black;
}

.app-form-control_2:focus{
    border: 1px solid black;
}

.app-form-control_3:focus{
    border: 1px solid black;

}
.submit_button_form{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.2s;
    &:hover,:focus {
        outline: none;
        background-color: rgb(37, 37, 37);
    }
    margin: 1rem;
}